<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Main Service</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Address Book</td>
        <td><button type="button" class="btn btn-secondary" routerLink="/addressBookTable">go to address book</button></td>
      </tr>
      <tr>
        <td>Department</td>
        <td><button type="button" class="btn btn-secondary" routerLink="/lookupTable">go to department</button></td>
      </tr>
      <tr>
        <td>Job Title</td>
        <td><button type="button" class="btn btn-secondary" routerLink="/jobTitle">go to job title</button></td>
        </tr>
    </tbody>
  </table>
</div>
